<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hozensoft.smartsite.attence.dao.query.AttenceRuleQuery">
    <resultMap id="AttenceRuleItemDtoMap" type="com.hozensoft.smartsite.attence.dto.AttenceRuleItemDto">
        <id property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="buildingDeveloperId" column="building_developer_id"/>
        <result property="buildingSiteId" column="building_site_id"/>
        <result property="breakEnabled" column="break_enabled" />
        <result property="beginTime" column="begin_time"/>
        <result property="breakBeginTime" column="break_begin_time" />
        <result property="breakEndTime" column="break_end_time" />
        <result property="endTime" column="end_time"/>
    </resultMap>

    <sql id="selectAttenceRuleItemDtoMap">
        select rul.id as id, rul.tenant_id as tenant_id, rul.building_developer_id as building_developer_id,
        rul.building_site_id as building_site_id, rul.break_enabled as break_enabled, rul.begin_time as begin_time,
        rul.break_begin_time as break_begin_time, rul.break_end_time as break_end_time, rul.end_time as end_time
        from sbm_attence_rule as rul
    </sql>

    <sql id="whereClause">
        <where>
            rul.tenant_id = #{tenantId}
            and rul.building_developer_id = #{buildingDeveloperId}
        </where>
    </sql>

    <select id="findAttenceRuleList" resultMap="AttenceRuleItemDtoMap">
        <include refid="selectAttenceRuleItemDtoMap"></include>
        <include refid="whereClause"/>
    </select>
</mapper>